---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/trending/movie/week?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e459ddd1fdb9988b8f43a108ab03bfcc
      X-Memc-Age:
      - '250'
      X-Memc-Expires:
      - '350'
      Etag:
      - W/"10bb6f413e677a3228ff48fccbfbad07"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/wybmSmviUXxlBmX44gtpow5Y9TB.jpg","id":594767,"title":"Shazam!
        Fury of the Gods","original_language":"en","original_title":"Shazam! Fury
        of the Gods","overview":"Billy Batson and his foster siblings, who transform
        into superheroes by saying \"Shazam!\", are forced to get back into action
        and fight the Daughters of Atlas, who they must stop from using a weapon that
        could destroy the world.","poster_path":"/3GrRgt6CiLIUXUtoktcv1g2iwT5.jpg","media_type":"movie","genre_ids":[28,35,14],"popularity":7479.031,"release_date":"2023-03-15","video":false,"vote_average":6.948,"vote_count":928},{"adult":false,"backdrop_path":"/ytdebEE0ndYLSTEctPgh8e0vaBs.jpg","id":76600,"title":"Avatar:
        The Way of Water","original_language":"en","original_title":"Avatar: The Way
        of Water","overview":"Set more than a decade after the events of the first
        film, learn the story of the Sully family (Jake, Neytiri, and their kids),
        the trouble that follows them, the lengths they go to keep each other safe,
        the battles they fight to stay alive, and the tragedies th[...]
