<%= link_to 'Discover Page', discover_index_path %>

<table>
  <tr>
    <th>Movie Title</th>
    <th>Average Rating</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie.id) %></td>
      <td><%= movie.vote_avg %></td>
    </tr>
  <% end %>
</table>
