---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&include_adult=false&query=The%20Matrix
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8ace704e40e540145fc2ee3ef6ff48ad
      X-Memc-Age:
      - '5094'
      X-Memc-Expires:
      - '23252'
      Etag:
      - W/"e54d4bf1323878989f504a4630b3d754"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/l4QHerTSbMI7qgvasqxP36pqjN6.jpg","genre_ids":[28,878],"id":603,"original_language":"en","original_title":"The
        Matrix","overview":"Set in the 22nd century, The Matrix tells the story of
        a computer hacker who joins a group of underground insurgents fighting the
        vast and powerful computers who now rule the earth.","popularity":77.377,"poster_path":"/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg","release_date":"1999-03-30","title":"The
        Matrix","video":false,"vote_average":8.2,"vote_count":23008},{"adult":false,"backdrop_path":"/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg","genre_ids":[878,28,12],"id":624860,"original_language":"en","original_title":"The
        Matrix Resurrections","overview":"Plagued by strange memories, Neo''s life
        takes an unexpected turn when he finds himself back inside the Matrix.","popularity":117.955,"poster_path":"/8c4a8kE7PizaGQQnditMmI1xbRp.jpg","release_date":"2021-12-16","title":"The
        Matrix Resurrections","video":false,"vote_average":6.536,"vote[...]
